<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ly.ledong.com.ylandroidmodule" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 用户登录页面 -->
        <activity android:name="com.ledong.login.LoginActivity" >
        </activity>
        <activity
            android:name="com.ledong.multimedia.camera.system.CameraTestActivity"
            android:label="@string/title_activity_camera_test" >
        </activity>
    </application>

</manifest>
